<div>
  <div class="flex">
    <h5><%=headingTitle %></h5>
    <span id="count-overdue" class="ml-2 text-sm px-2 py-1 bg-gray-200"
      ><%=userFirstName %></span
    >
  </div>

  <ul class="list-none">
    <li class="Todo-Item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-aqua-50"
      >
        <p class="ml-2 text-sm text-gray-600">Status</p>
      </div>
    </li>
    <li class="Todo-Item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-aqua-50"
      >
        <p class="ml-2 text-sm text-gray-600">Acknowledgement</p>
      </div>
    </li>
    <li class="Todo-Item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-aqua-50"
      >
        <p class="ml-2 text-sm text-gray-600">Allocation to Vendor</p>
      </div>
    </li>
    <li class="Todo-Item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-aqua-50"
      >
        <p class="ml-2 text-sm text-gray-600">Escalation</p>
      </div>
    </li>
  </ul>
</div>
